page-home {
    ion-col {
        background-color: #F9FAFB;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid #ddd;
        text-align: center;
    }
    .item-profile {
  		height: 60px;
   }
    .userImage
    {
        width: 50px !important;
        max-width: 50px !important;
        height: 50px !important;
        max-height: 50px !important;
        border-radius: 50px !important;
    }
    .profile-title{
         margin-top : -10px;
         color: #000;
         font-size: 1em;
         right:10%;
         
	}
	.profile-sub-title{
         margin-top: - 25px;
         color: #000;
         font-size : .5em;
         right:10%;
	}
	.toolbar-title{
		overflow:inherit;
		    position: absolute;
    		left: 20%;
    		top: 35%;
	}
    .pageContent 
    {
         font-family: Verdana, Geneva, sans-serif !important;
        color:#fff; 
         background:url("../assets/img/64.jpg") no-repeat center center fixed;
        //background-color: #009688; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;
    }
    // .toolbar-background-md {
    //     background-color: transparent;
    // }

    .titleBar
    {
        text-align:center;
        padding-right:20%;
    }
    .listHeader{
        background: url('../assets/img/66.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        border:none !important;
    }
    .loginCard
    {
        margin-top:10%;
        background-color:rgba(255,255,255,0.4);
        border:0;
        border-radius:7px;
        position:relative;
        margin-bottom:24px;
        box-shadow:none;
    }
    ion-col {
        height:50%;
        color:#000;
    }
    ion-card {
        position: relative;
        text-align: center;
    }

    .card-title {
        position: absolute;
        top: 60%;
        font-size: 1.1em;
        width: 100%;
        color:#000;
        background-color: transparent;
        border:none;
    }
    .col-card {
        margin:0px;width:100%;height:15rem; 
        padding:7px;
    }
    .card-subtitle {
        font-size: 2.0em;
        position: absolute;
        top: 15%;
        border:none;
        width: 100%;
        color:#000;
        background-color: transparent;
    }
    ion-card {
        color:#000;
    }
    .btn-round
    {
        height: 50% !important;
        border:none;
    }
    
}
